
*.asv
*.bak

/.git/

/.git/

/ftp_info.txt

/clean_and_package_PIVlab.m

/_Github token.txt

/Standalone/

/PIVlab_capture_resources/_OPTRONIS_Euresys_Matlab_support.m

/PIVlab_capture_resources/_PIVlab_capture_basler_debug.m

/PIVlab_capture_resources/_PIVlab_capture_FLIR_debug.m

/PIVlab_capture_resources/_PIVlab_capture_OPTOcam_debug.m

/PIVlab_capture_resources/_PIVlab_capture_OPTRONIS_debug.m

/PIVlab_capture_resources/_play_with_webcam.m

/PIVlab_capture_resources/bitflow_trigger_test.m

/PIVlab_capture_resources/debug_bitflow_10bit_nodes.m

/PIVlab_capture_resources/imaqsupport_working_computer.txt

/PIVlab_capture_resources/laser_device_id.mat

/PIVlab_capture_resources/PIVlab_capture_pco_new_commands_mode_file.m

/PIVlab_capture_resources/PIVlab_capture_pco_new_commands_mode_memory.m

/PIVlab_capture_resources/PIVlab_capture_pco.old

/PIVlab_capture_resources/PIVlab_capture_pco.oldest

/PIVlab_capture_resources/test_bitflow_no_trigger.m

/PIVlab_capture_resources/test_bitflow_output.txt

/PIVlab_capture_resources/william_check_timings.m
