---
---

@import 'jekyll-theme-leap-day';

header {
    padding: 25px 20px 40px 20px;
    margin: 0;
    position: relative;
    top: 0;
    left:0;
    right:0;
    width: 100%;
    text-align: right;
    background: #514F4F url(../images/background.png) no-repeat;
    box-shadow: 1px 0px 2px rgba(0,0,0,.75);
    z-index:99;
    -webkit-font-smoothing:antialiased;
    min-height: 240px;

    h1 {
        font: 40px/48px 'Copse', "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: #f3f3f3;
        text-shadow: 0px 2px 0px #235796;
        margin: 0px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        -ms-text-overflow: ellipsis;
    }

    p {
        color: #d8d8d8;
        text-shadow:rgba(#000, 0.2) 0 1px 0;
        font-size: 18px;
        margin: 0px;
    }
}

#banner {
    z-index: 100;
    left:0;
    right:50%;
    height: 50px;
    margin-right:0px;
    position: relative;
    top: 255px;
    background: #D0D70A;
    border: 1px solid #BED011;
    box-shadow: 0px 1px 3px rgba(0,0,0,.25);
    border-radius: 0px 2px 2px 0px;
    padding-right: 10px;

    .button {
        border: 1px solid #E6E507;
        background: linear-gradient(rgb(216, 213, 8), rgb(15, 79, 194));
        border-radius: 2px;
        box-shadow: inset 0px 1px 0px rgba(255,255,255,.4), 0px 1px 1px rgba(0,0,0,.1);
        background-color: #FFE788;
        margin-left: 5px;
        padding: 10px 12px;
        margin-top: 6px;
        line-height:14px;
        font-size:14px;
        color:#333;
        font-weight: bold;
        display:inline-block;
        text-align:center;

        &:hover {
            background: linear-gradient(rgb(255, 231, 136), rgb(255, 231, 136));
            background-color: #ffeca0;
        }
    }

    .fork {
        position:relative;
        left:50%;
        margin-left:-325px;
        padding: 10px 12px;
        margin-top: 6px;
        line-height:14px;
        font-size:14px;
        background-color: #FFE788;
    }

    .downloads {
        float: right;
        margin:0 45px 0 0;

        span {
            float:left;
            line-height:52px;
            font-size:90%;
            color: #0d729d;
            text-transform:uppercase;
            text-shadow:rgba(#fff, 0.2) 0 1px 0;
        }
    }

    ul {
        list-style:none;
        height:40px;
        padding:0;
        float: left;
        margin-left:10px;

        li {
            display:inline;

            a.button {
                background-color: #FFE788;
            }
        }
    }

    #logo {
        position:absolute;
        height: 36px;
        width: 36px;
        right:7px;
        top:7px;
        display: block;
        background: url(../images/olt_main.png);
        background-size: cover;
    }
}

nav {
    width: 230px;
    position: relative;
    left:50%;
    margin-left:-580px;
    text-align: right;

    ul {
        list-style: none;
        list-style-image:none;
        font-size: 14px;
        line-height:24px;

        li {
            padding: 5px 0px;
            line-height: 16px;
            // padding-right:17px;
            // position:relative;
            // right:-12px;

            &.tag-h1 {
                font-size: 1.2em;

                a {
                    font-weight: bold;
                    color: #333;
                }

                + .tag-h2 {

                }
            }

            &.tag-h2 {

                + .tag-h1 {
                    margin-top:10px;
                }
            }
        }

        a {
            color: #666;

            &:hover { color: #999; }
        }

        // .active {
        //   border-right:solid 4px #39C;
        //   padding-right:13px;
        // }
    }
}

section {
    width:590px;
    padding: 30px 30px 50px 30px;
    margin: 20px 0;
    margin-top: -190px;
    position:relative;
    background: #fbfbfb;
    border-radius: 3px;
    border: 1px solid #cbcbcb;
    box-shadow: 0px 1px 2px rgba(0,0,0,.09), inset 0px 0px 2px 2px rgba(255,255,255,.5), inset 0 0 5px 5px rgba(255,255,255,.4);
}

.wrapper {
    width:650px;
    margin:0 auto;
    position:relative;
}

.list-divider {
    border-top: 1px solid #ccc;
    margin: 10px 0;
}
